@media screen and (max-width: 768px) {
    h3 {
        font-size: 25px;
        padding: 12px;
    }
    nav ol {
        display: flex;
        margin-top: 5%;
    }
    #nav ol li:hover {
        transform: none;
        border-bottom: none;
    }
    #nav ol li a {
        font-size: 15px;
        text-decoration: none;
        color: #271C50;
        font-weight: lighter;
    }
    nav a {
        font-size: 15px;
    }
    .logo-img {
        width: 12%;
        height: 10%;
        float: left;
    }
    #landing {
        padding-top: 35%;
        margin: 5%;
    }
    h1 {
        font-size: 24px;
    }
    #landing h1 {
        font-size: 28px;
    }
    #landing h3 {
        ont-size: 18px;
        padding: 4%;
    }
    #landing p {
        margin-top: 4%;
    }
    #workPage {
        padding-top: 30%;
    }
    /*  about page */
    #aboutPage {
        padding-top: 30%;
    }
    #aboutPage p {
        font-size: 13px;
        word-spacing: 1px;
        text-align: justify;
        margin: 0;
    }
    #my-pic {
        width: 50%;
        margin-bottom: 2%;
    }
    #wrapper {
        display: inline;
    }
    #wrapper p {
        padding: 5%;
        font-size: 18px;
        font-weight: lighter;
    }
    #my-pic {
        margin: 5% 0;
    }
    button {
        background: #bfd7d7;
        font-size: 16px;
        border-radius: 20px;
        padding: 12px;
        margin: 10%;
    }
    button:hover {
        transform: none;
        border-radius: none;
        background-color: none;
    }
    /* project page */
    .project {
        width: 95%;
        height: 40%;
    }
    #project {
        padding-top: 25%;
    }
    .project-img:hover {
        transform: none;
    }
    #project p {
        font-size: 18px;
        font-weight: lighter;
    }
    #my-pic {
        width: 45%;
    }
    div {
        width: 100%;
    }
    #workPage p {
        font-size: 14px;
        margin-top: 5px;
        font-weight: normal;
    }
    #contactPage {
        background: #cee9e5;
        margin-top: 10%;
        padding-top: 2%;
        /* width: 100%; */
        padding-bottom: 1%;
    }
    #contactPage ol {
        display: inline-flex;
        margin: 2%;
    }
    #contactPage h1 {
        font-size: 22px;
        margin: 2%;
    }
    /* footer  */
    #up-key {
        float: right;
        width: 3%;
        padding: 1%;
        margin-right: 3%;
        border: 2px solid #271c50;
        border-radius: 30px;
        margin: 1%;
    }
    .copyright p {
        font-size: 10px;
    }
}