@media screen and (max-width: 768px) {
    h3 {
        font-size: 30px;
        padding: 5px;
    }
    
    nav{
        background-color: #93949e;
    }

    nav ol {
        display: flex;
        padding: 3%;
    }
    #nav ol li:hover {
        transform: none;
        border-bottom: none;
    }
    #nav ol li a {
        font-size: 20px;
        text-decoration: none;
        color: white;
        font-weight: lighter;
    }
    nav a {
        font-size: 15px;
    }
    .logo-img {
        width: 12%;
        height: 10%;
        float: left;
    }
    #landing {
        padding-top: 35%;
        margin: 5%;
    }
    h1 {
        font-size: 24px;
    }
    #landing h1 {
        font-size: 28px;
    }
    #landing h3 {
        font-size: 18px;
        padding: 4%;
    }
    #landing p {
        margin-top: 4%;
    }
    #workPage {
        padding-top: 15%;
    }
 
    /*  about page */
    #aboutPage {
        padding-top: 4%;
    }
    #aboutPage p {
        font-size: 13px;
        word-spacing: 1px;
        text-align: justify;
        margin: 0;
    }
    #my-pic {
        width: 100%;
        filter: grayscale(0%);
    }
    #wrapper {
        display: inline;
    }
    #wrapper p {
        padding: 5%;
        font-size: 18px;
        font-weight: lighter;
    }
   
    embed{
        width: 500px;
        height: 700px;
    }

    /* project page */
    .project {
        width: 99%;
        height: auto;
        filter: grayscale(0%);
    }
    #project {
        padding-top: 15%;
    }

    .project-img {
        height: auto;
        width: 99%;
        filter: grayscale(0%);
    }

    
    .project-img:hover {
        transform: none;
    }


  #project p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin: 4%;
    font-weight: lighter;
}


    div {
        width: 100%;
    }
    #workPage p {
        font-size: 20px;
        font-weight: lighter;
    }

    #contactPage {
        background: #93949e;
        margin-top: 10%;
        padding-top: 2%;
        /* width: 100%; */
        padding-bottom: 1%;
    }
     
    #contactPage ol li{
        filter: grayscale(0%);
    }
    
    
    #contactPage ol {
        display: inline-flex;
        margin: 2%;
    }
    #contactPage h1 {
        font-size: 22px;
        margin: 2%;
    }
    /* footer  */
    #up-key {
        float: right;
        width: 3%;
        padding: 1%;
        margin-right: 3%;
        border: 2px solid #271c50;
        border-radius: 30px;
        margin: 1%;
    }
    .copyright p {
        font-size: 10px;
    }
}