/* basic ******************************************/
body{
    text-align: center;
    font-family: sans-serif;
    color: #271C50;
}


p{
    margin: 5%;
}

a {
    text-decoration: none;
}


/* image ******************************************/
.logo-img{
    width: 8%;
    float: left;
    margin-left: 5%;
}

/* Navigation ******************************************/
nav{
    padding: 2%;
    /* width: 100%; */
    overflow: hidden;    
}

nav ol{
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#nav ol li a {
    font-size: 20px;
    text-decoration: none;
    color: #271C50;
    
    font-weight: lighter;
}





/* Landing ******************************************/
#landing{
    margin: 15%;
}
h1{
    font-size: 40px;
}
h2{
    margin: 2%;
    font-size: 20px;
}

.logo{
    width: 50%;
    margin-top: 5%;
    margin-bottom: 2%;
}


/* workPage ******************************************/

#workPage{
    margin-top: 20%;
    padding-top: 5%;
}

.project-img{
    height: 75%;
    width: 85%;
 } 

div {
    width: 50%;
}

/* project ******************************************/
.project-wrapper{
    margin-top: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}



#workPage p {
    font-size: 20px;
    margin-top: 5px;
    font-weight: lighter;
}


/* project page ******************************************/
h3{
    font-size: 34px;
    /* text-decoration: underline; */
    font-weight: normal;
    border-bottom: 2px solid #271c50;
}

#project p{
    font-size: 20px;
    font-weight: lighter;
}

#project{
    margin-top: 5%;
}

.gif{
    width: 55%;
}

.project{
    width: 80%;
    border: 1px solid #271c50;
    height: 40%;
}

#up-key{
    float: right;
    width: 1.5%;
    padding: 1%;
    margin-right: 3%;
    border: 2px solid #271c50;
    border-radius: 20px;
}

/* contact ******************************************/
#contactPage {
    background: #ececec;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 3%;
}

#contactPage ol{
    display: inline-flex;
    margin: 5%;
  
}
#contactPage img{
    width: 65%;
    height: 90%;
}


#aboutPage{
    margin-top: 5%;
}

#aboutPage p{
    margin: 5%;
    font-size: 18px;
}

button{
    background: #bfd7d7;
    font-size: 16px;
    border-radius: 20px;
    padding: 12px;
}

section p{
    font-size: 14px;
}