@media screen and (max-width: 768px) {
    h1 {
        font-size: 22px;
        margin: 15%;
    }
    h3 {
        font-size: 9vw;
        padding: 12px;
    }
    nav ol {
        display: block;
        float: right;
        margin: 2%;
    }
    #nav ol li a {
        font-size: 15px;
        text-decoration: none;
        color: #271C50;
        font-weight: lighter;
    }
    nav a {
        font-size: 15px;
    }
    .logo-img {
        width: 10%;
        height: 10%;
        float: left;
        margin: 2% 5%;
    }
    #landing h3 {
        font-size: 4vw;
    }
    /*  about page */
    #aboutPage {
        margin: 5%;
    }
    #aboutPage p {
        font-size: 13px;
    }
    #wrapper {
        display: inline;
    }
    button {
        background: #bfd7d7;
        font-size: 16px;
        border-radius: 20px;
        padding: 12px;
        margin: 10%;
    }
    /* project page */
    .project-img {
        width: 95%;
    }
    #project p {
        font-size: 5vw;
        font-weight: lighter;
    }
    #my-pic {
        width: 45%;
    }
    .project-wrapper {
        display: flex;
        flex-direction: column;
    }
    div {
        width: 100%;
    }
    #workPage p {
        font-size: 14px;
        margin-top: 5px;
        font-weight: normal;
    }
    #contactPage {
        background: #cee9e5;
        margin-top: 10%;
        padding-top: 2%;
        /* width: 100%; */
        padding-bottom: 1%;
    }
    #contactPage ol {
        display: inline-flex;
        margin: 2%;
    }
    #contactPage h1 {
        font-size: 22px;
        margin: 2%;
    }
    /* footer  */
    #up-key {
        float: right;
        width: 3%;
        padding: 1%;
        margin-right: 3%;
        border: 2px solid #271c50;
        border-radius: 30px;
    }
    .copyright p {
        font-size: 10px;
    }
}